 
    /* .selectitem:hover{
       padding: 40px 20px 40px 20px;  
   }
   
    .selecteditem:hover{
        padding: 40px 20px 40px 20px; 
          box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    } */
    .selectitem{
       padding: 40px 20px 40px 20px;  
   }
   
    .selecteditem{
        padding: 40px 20px 40px 20px; 
          box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    }
@media (max-width:1200px){
    .selectitem{
         
   }
    .selecteditem{
      
          box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    }
}
@media (max-width:992px){
    
    .selectitem{
       
       }
    .selecteditem{
        
           box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    } 
}

@media (max-width:768px){
     
    .selectitem{
        
          }
    .selecteditem{
        /* width: 150px;
        height: 100px;
       */
           box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    } 
}
 
@media (max-width:368px){
     
    .selectitem{
      
          }
    .selecteditem{
        width: 166px;
        height: 144px;
           box-shadow: 0 0 10px 1px #ddd;
          background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
    } 
}
 
