
.container_custom{
  height:150%;
  width: 100%;
}
.selectitemThird{
  padding: 40px 20px 40px 20px;  
  margin:20px;
  width: 150px;
  height: 280px;   
}
.box_containerThird{
  width:88%;
  
  margin:auto;
  margin-top:130px;
}
.boxesThird{
  width:100%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.selectitemThird:hover{
  padding: 40px 20px 40px 20px;  
  margin:20px;
  width: 150px;
  height: 280px;     box-shadow: 0 0 10px 1px #ddd;
  background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);

}

.selecteditem:hover {
    width: 270px;  padding: 40px 20px 40px 20px;  
    height: 180px;
      box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
     
} 
.selecteditem {
    width: 270px;  padding: 40px 20px 40px 20px;  
    height: 180px;
      box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
     
} 
.gap{
  width:100%;
  height:200px !important;
}
@media (max-width:1200px){
.selectitemThird{
    width: 270px; padding: 40px 20px 40px 20px;  
    height: 280px !important;
}
.selectitemThird:hover{
    width: 270px; padding: 40px 20px 40px 20px;  
    height: 280px !important;   box-shadow: 0 0 10px 1px #ddd;
    background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);

}
.selecteditem:hover{
    width: 270px;
    height: 280px !important; padding: 40px 20px 40px 20px;  
      box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
}
.selecteditem{
    width: 270px; padding: 40px 20px 40px 20px;  
    height: 380px;
      box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
}
}
@media (max-width:992px){ 
    .selectitemThird{
    width: 216px; padding: 40px 20px 40px 20px;  
    height: 244px !important;
   }
   .selecteditem:hover{
    width: 216px; padding: 40px 20px 40px 20px;  
    height: 344px;
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
    .selectitemThird:hover{
    width: 216px; padding: 40px 20px 40px 20px;  
    height: 244px !important; box-shadow: 0 0 10px 1px #ddd;
    background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);

   }
   .selecteditem{
    width: 216px; padding: 40px 20px 40px 20px;  
    height: 344px;
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
}

@media (max-width:768px){
  .box_containerThird{
   
    margin-top:30px;
  }
 
    .selectitemThird{
    width: 136px !important;padding: 40px 20px 40px 20px;  
    height: 224px !important;  
    margin:0px; 
      }
      .selecteditem:hover{
    width: 166px;padding: 40px 20px 40px 20px;  
    height: 144px;   
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
    .selectitemThird:hover{
    width: 136px !important;padding: 40px 20px 40px 20px; 
    margin:0; 
    height: 224px !important;     box-shadow: 0 0 10px 1px #ddd;
    background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);

      }
      .selecteditem{
    width: 166px;padding: 40px 20px 40px 20px;  
    height: 144px;   
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
}
  


@media(max-width:368px){
 
    .selectitemThird{
    width: 166px;padding: 40px 20px 40px 20px;  
    height: 224px !important;
    margin:0; 
      }
      .selecteditem:hover{
    width: 166px;padding: 40px 20px 40px 20px;  
    height: 194px;
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
    .selectitemThird:hover{
    width: 166px;padding: 40px 20px 40px 20px;  
    margin:0; 
    height: 224px !important;
    box-shadow: 0 0 10px 1px #ddd;
    background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);

      }
      .selecteditem{
    width: 166px;
    height: 174px;padding: 40px 20px 40px 20px;  
       box-shadow: 0 0 10px 1px #ddd;
      background: -webkit-linear-gradient(-45deg,rgb(255,255,255) 2%,rgb(255,255,255) 70%,rgb(254,198,189) 100%);
} 
}