.allInputs{
    width:390px;
    margin:auto;
    padding:auto;
}
.iconsStyle{
    font-size: 30px;

}
.oneInput{
    margin:30px 0;
}
@media(max-width:768px){
    .allInputs{
        width:340px;
        margin:auto;
        padding:auto;
    }
    .iconsStyle{
        font-size: 25px;
    
    }
}