.body_header2 {
    margin:0;
    padding: 0;;
    position: fixed;
    
    width: 100%;
    position: absolute;

    margin-bottom: 100px;
    background-color: white;
    background: -webkit-linear-gradient(left,#ffffff 1%,#ffffff 30%,#e5f8fc 100%);
  }
  .logoArea{
      margin-left: 40px;

  }
 .newLogoImg{
     width:160px;
     height:110px;
     z-index: 6578;
     background-color: #ffffff;
 }
.ContactButton{
    width: 150px;
    margin:3px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 14px;
    color:rgb(243, 242, 242);
    border:2px solid rgb(211, 3, 3);
    background-color: rgb(238, 23, 23);
    background-blend-mode: soft-light;
}
.ContactButton:hover{
    width: 150px;
    margin:3px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 14px;
    color:whitesmoke;
    border:2px solid rgb(6, 206, 212);
    background-color: rgb(98, 210, 238);
}
.ContactButtonBlue{
    width: 150px;
    margin:3px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 14px;
    color:rgb(243, 242, 242);
    border:2px solid rgb(235, 1, 1);
    background-color: rgb(238, 23, 23);
}
.ContactButtonBlue:hover{
    width: 150px;
    margin:3px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 14px;
    color:whitesmoke;
    border:2px solid rgb(6, 206, 212);
    background-color: rgb(98, 210, 238);
}
.whatsappIcon{
    margin:3px;
    font-size: 28px;
    font-weight: 500;
    color: whitesmoke;
    padding: 0px 9px;
    background-color: rgb(38, 124, 16);
    border-radius: 50%;
    border:2px solid rgb(25, 128, 5);
}
@media (max-width:900px){
    .logoArea{
        margin-left: 0;
      width:180px;
      height:180px;
    }
   .newLogoImg{
       width:80px;
       height:100px;
       z-index: 6578;
       background-color: #ffffff;
   }
    .whatsappIcon{
        margin:3px;
        font-size: 15px;
        font-weight: 500;
        color: whitesmoke;
        padding: 0px 4px;
        background-color: rgb(38, 124, 16);
        border-radius: 50%;
        border:2px solid rgb(25, 128, 5);
    }
    .ContactButton{
        width: 100px;
        margin:3px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 20px;
        padding: 2px;
        
    }
    .ContactButton:hover{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 20px;
        padding: 2px;
        
    }
    .ContactButtonBlue{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
        padding: 2px;
    }
    .ContactButtonBlue:hover{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
        padding: 2px;
    }
}
@media (max-width:600px){
    .logoArea{
        margin-left: 0;
      width:180px;
      height:180px;
    }
   .newLogoImg{
       width:80px;
       height:90px;
       z-index: 6578;
       background-color: #ffffff;
   }
    .whatsappIcon{
        margin:3px;
        font-size: 15px;
        font-weight: 500;
        color: whitesmoke;
        padding: 0px 4px;
        background-color: rgb(38, 124, 16);
        border-radius: 50%;
        border:2px solid rgb(25, 128, 5);
    }
    .ContactButton{
        width: 100px;
        margin:3px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 20px;
        padding: 2px;
        
    }
    .ContactButton:hover{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 20px;
        padding: 2px;
        
    }
    .ContactButtonBlue{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
        padding: 2px;
    }
    .ContactButtonBlue:hover{
        width: 100px;
        margin:2px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
        padding: 2px;
    }
}
@media (max-width:420px){
    .logoArea{
        margin-left: 0;
      width:90px;
      height:80px;
    }
   .newLogoImg{
       width:80px;
       height:90px;
       z-index: 6578;
       background-color: #ffffff;
   }
}
@media (max-width:365px){
    .logoArea{
        margin-left: 0;
      width:180px;
      height:180px;
    }
   .newLogoImg{
       width:80px;
       height:70px;
       z-index: 6578;
       background-color: #ffffff;
   }
    .whatsappIcon{
        margin:3px;
        font-size: 13px;
        font-weight: 500;
        color: whitesmoke;
        padding: 0px 4px;
        background-color: rgb(38, 124, 16);
        border-radius: 50%;
        border:2px solid rgb(25, 128, 5);
    }
    .ContactButton{
        width: 90px;
        margin:3px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 20px;
        padding: 0;
        
    }
    .ContactButton:hover{
        width:90px;
        margin:1px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 20px;
        padding:0;
        
    }
    .ContactButtonBlue{
        width:90px;
        margin:1px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 10px;
        padding:0 !important;
    }
    .ContactButtonBlue:hover{
        width: 90px;
        margin:1px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 10px;
        padding: 0 !important;
    }
}