header{
  /* min-height: 50px;
  width: 100%;
  /* background-color: white; */
  /* padding: 0 3rem .7rem;
  border-bottom: 2px solid #00b7de;   */
}
body{
  height: 100%;
  margin: 0;
  text-align: center;
  /* background-color: #D8D8D8; */
}
.container_body{
  height:100%;
  margin:0 !important;
  padding: 0;
    position: relative;
    height: 83vh;
    background-color: white;
}
.container_custom{
  height:130%;
  width: 100%;
  margin-top:50px;
  margin-bottom: 40px !important;
}
.perfectImgContainer{
  width:100%;
  height:100%;
  margin:5px;
  padding:0;
}
.showImg{
  width:40%;
  height:60%;
  margin:0;
  padding:0;
  
}
.gap{
  width:100%;
  height:300px !important;
}
.box_containerFive{
  width:75%;
  
  margin:auto;
  flex-direction: column;
    background-color: white;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxesFive{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px auto;
  
}
.nextPara{
  margin-top: 50px;
}
.form-control{
  width:90% !important;
}
.querytxt{
  width: 90% !important;
}
.alertBox{
  position: relative;
  top:30px;
  z-index: 8888;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
